[submodule "src/vendor/httpaf"]
	path = src/vendor/httpaf
	url = https://github.com/clecat/httpaf.git
	branch = fork
[submodule "src/vendor/gluten"]
	path = src/vendor/gluten
	url = https://github.com/clecat/gluten.git
	branch = fork
[submodule "src/vendor/websocketaf"]
	path = src/vendor/websocketaf
	url = https://github.com/clecat/websocketaf.git
	branch = fork
[submodule "src/vendor/h2"]
	path = src/vendor/h2
	url = https://github.com/clecat/ocaml-h2.git
[submodule "src/vendor/paf"]
	path = src/vendor/paf
	url = https://github.com/clecat/paf-le-chien.git
	branch = dream
